<ion-view view-title="Alerta">
  <ion-content padding="true">
    <h1>Alerta</h1>
    <button class="button button-assertive" ng-click="mostrarAlerta()">Mostrar Alerta</button>
  </ion-content>
</ion-view>
