<ion-view view-title="Api">
  <ion-content padding="true">
    <h1>Produtos</h1>
    <button class="button button-positive" ng-click="carregar()">Carregar</button>

    <button class="button button-positive" ng-click="novoProduto()">Novo Produto</button>

    <ion-list>
	  <ion-item ng-repeat="produto in produtos" ng-click="detalhes(produto)">
	    {{produto.name}}
	  </ion-item>
	</ion-list>

  </ion-content>
</ion-view>
