<ion-view view-title="Camera">
  <ion-content padding="true">
  	<div class="foto-preview">
  		<img ng-src="{{fotoBase64}}">
  	</div>
    <button class="button button-positive button-block" ng-click="baterFoto()">
    	<span class="ion-camera"></span> Bater Foto
    </button>
    
  </ion-content>
</ion-view>
