<ion-view view-title="Formulario">
  <ion-content padding="true">
	<div class="list list-inset">
	  
	  <label class="item item-input">
	    <input type="text" ng-model="contato.nome" 
	    placeholder="Nome">
	  </label>

	  <label class="item item-input">
	    <input type="text" ng-model="contato.telefone"
	    placeholder="Telefone">
	  </label>

	  <div class="item">
	  	<button class="button button-block button-positive" ng-click="salvar()">Salvar</button>
	  </div>

	  <div class="item">
	  	<button class="button button-block button-default" ng-click="selectContato()">Listar</button>
	  </div>

	</div>
  </ion-content>
</ion-view>
