<ion-view view-title="Localizacao">
  <ion-content>
    <h1>Localizacao</h1>

    <button class="button button-positive" ng-click="minhaLatLong()">Localizacao</button>

    {{latLong}}

  </ion-content>
</ion-view>