<ion-modal-view>
	<ion-header-bar>
	  <h1 class="title">Novo Produto</h1>
	</ion-header-bar>
	<ion-content>
		<div class="list">
		  <label class="item item-input">
		    <input type="text" placeholder="Codigo" ng-model="produto.code">
		  </label>
		  <label class="item item-input">
		    <input type="text" placeholder="Nome" ng-model="produto.name">
		  </label>
	 	  <label class="item item-input">
		    <input type="text" placeholder="Preco" ng-model="produto.price">
		  </label>
		  <div class="item">
		  	<button class="button button-block button-positive" ng-click="salvarProduto(produto)">Salvar</button>
		  </div>	
		</div>
	</ion-content>
</ion-modal-view>