<ion-modal-view>
	<ion-header-bar>
	  <h1 class="title">Detalhes do Produto</h1>
	</ion-header-bar>
	<ion-content>
		<div class="list">
			<div class="item">
				<strong>Cod. </strong>
				{{produto.code}}
			</div>
			<div class="item">
				<strong>Nome </strong>
				{{produto.name}}
			</div>
			<div class="item item-divider">
    			Preços
			</div>
			<div class="item" ng-repeat="preco in produto.prices">
				{{preco.outPrice}}
			</div>
		</div>
		<button class="button button-assertive" ng-click="fecharDetalhe()">Fechar</button>
	</ion-content>
</ion-modal-view>